@import "tailwindcss";

* {
  scroll-behavior: smooth;
}
/* styles/globals.css hoặc file CSS tương tự */
.styled-scrollbar::-webkit-scrollbar {
  width: 8px; /* Chiều rộng của scrollbar */
}

.styled-scrollbar::-webkit-scrollbar-track {
  background: theme("colors.slate.700"); /* Màu nền của track */
  border-radius: 10px;
}

.styled-scrollbar::-webkit-scrollbar-thumb {
  background: theme("colors.slate.500"); /* Màu của thumb */
  border-radius: 10px;
}

.styled-scrollbar::-webkit-scrollbar-thumb:hover {
  background: theme("colors.slate.400");
}

/* Cho Firefox */
.styled-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: theme("colors.slate.500") theme("colors.slate.700");
}
